body{
  background-image: url(images/cloud\ gif.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

/* .menu-list li{
  list-style: none;
  position: absolute;
  transform: rotate(calc(360deg / -8 * var(--i)));
  transform-origin: 200px;
  left: 30%;
} */