body{
  background-image: url(images/cloud\ gif.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.tokenomics{
  background-image: url(images/pngwing.com.png);
  /* background-color: red; */
  width: 200px;
  height: 200px;
  background-size: cover;
}